<script src="./javascripts/login.js"></script>
<nav>
    <ul class="n">
        <h3 class='n_tittle'></h3>
        <li><a href='/WebElements'>Web Elements</a></li>
        <li><a href='/PageObject'>Page object</a></li>
        <li><a href='/Tests'>Tests</a></li>
        <li><a href='/Suites'>Suites</a></li>
        <li><a href='/Libraries'>Libraries</a></li>
        <li><a href='/Reports'>Reports</a></li>
        <div ng-controller="login">
            <li class='userName'><a>Welcome</a>
                <ul>
                    <li class='logout'><a ng-click='logout()'>Logout</a></li>
                    <li class='logout'><a href='/help'>Help</a></li>
                </ul>
            </li>
        </div>
    </ul>
</nav>