<section class='action_panel' ng-controller="PageObject">
    <div id="tabs">
        <ul>
            <li><a href="#c">Parameters</a></li>
            <li><a href="#a">Details</a></li>
        </ul>
        <div ng-show='isSelected() == 1'>
            <%- include pageObject_params.ejs %>
                <%- include pageObject_details.ejs %>
        </div>
    </div>
    <div ng-hide='isSelected() == 1'>
        <p>Please Select an Element</p>
    </div>
</section>